<div class="nav-panel">
  <md-nav-list class="nav-card">
    <button md-raised-button [mdMenuTriggerFor]="menu" *ngIf="auth.hasRole('su')">
      <md-icon>apps</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item routerLink="main/file-manager">
        <span>File Storage</span>
      </button>
      <button md-menu-item routerLink="main/user-manager">
        <span>User Manager</span>
      </button>
      <button md-menu-item routerLink="main/role-manager">
        <span>Role Manager</span>
      </button>
      <button md-menu-item routerLink="main/mongo-manager">
        <span>Mongo Manager</span>
      </button>
      <button md-menu-item routerLink="main/loader">
        <span>Loader</span>
      </button>
    </md-menu>
    <button md-button class="nav-button" routerLink="main/catalog">Каталог</button>
    <button md-button class="nav-button" routerLink="main/contacts">Котнакты</button>
    <button md-button class="nav-button" routerLink="main/delivery">Доставка</button>
    <button md-button class="nav-button" routerLink="main/bucket">Корзина</button>
    <application-login></application-login>

  </md-nav-list>
</div>
