<button md-menu-item class="uploader" (click)="uploader.click()">
  <md-icon>get_app</md-icon>
  Upload
</button>
<input id="uploader" type="file" name="files" multiple
       style="display: none;" (change)="load($event)" #uploader/>

<textarea mdInput [(ngModel)]="json" placeholder="JSON" class="json"></textarea>
<button md-menu-item (click)="parse()">
  <md-icon>code</md-icon>
  Parse check
</button>
<button md-button (click)="save(collection)">
  <md-icon>save</md-icon>
  Load to DBMS  in Collection:
</button>
<md-input-container>
  <input mdInput type="text" [(ngModel)]="collection" placeholder="Collection">
</md-input-container>
<button md-menu-item (click)="clean()">
  <md-icon>clear</md-icon>
  Clear
</button>
