<div class="user-manager">

  <md-card class="tool-panel">
    <div>
      <button md-button (click)="createUser()" style="height: 100%">Create user</button>
      <button md-button (click)="getUsers()" style="height: 100%">Find user</button>
      <md-input-container>
        <input mdInput type="text" (change)="getUsers()" [(ngModel)]="username" placeholder="Username">
      </md-input-container>

    </div>
    <md-input-container>
      <input mdInput type="number" (change)="getUsers()" [(ngModel)]="limit" placeholder="Limit">
    </md-input-container>
  </md-card>
  <md-list>
    <md-divider></md-divider>
    <md-list-item *ngFor="let item of userlist">
      <md-icon md-list-icon>person</md-icon>
      <h4 md-line>{{item.username}}</h4>
      <span md-line>Id: {{item._id}} | Roles: {{item.roles}}</span>
      <md-slide-toggle [(ngModel)]="item.enabled" (change)="save(item)">Enabled</md-slide-toggle>

      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="edit(item)">
          <md-icon>create</md-icon>
          <span>Edit</span>
        </button>
        <button md-menu-item (click)="remove(item)">
          <md-icon>delete</md-icon>
          <span>Remove</span>
        </button>
      </md-menu>
    </md-list-item>
  </md-list>
</div>
