.img-div{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.image{
  width: 100%;
  height: 100%;
  background: no-repeat center;
  background-size: contain;
}
