<div style="display: flex;width: 100%; height: 95%; flex-direction: column;">
  <div class="frame" style="margin: 2rem">
    <b class="light-text">Адрес:</b>
    <p>г.Орел ул. МОПРа, д.24, (здание ЦНТИ), офис 128 (1 этаж)</p>
    <b class="light-text">Телефон:</b>
    <p>(4862) 71-71-71</p>
    <b class="light-text">Факс:</b>
    <p>8(4862) 25-55-08</p>
    <b class="light-text">Мобильный:</b>
    <p>+7 953 624 53 99</p>
  </div>
  <div style="margin: 2rem">
    <iframe width="800" height="600" frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?q=%D1%83%D0%BB%D0%B8%D1%86%D0%B0%20%D0%9C%D0%BE%D0%BF%D1%80%D0%B0%2C%20%D0%9E%D1%80%D1%91%D0%BB%2C%20%D0%9E%D1%80%D0%BB%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%2C%20%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F%20%D0%B4.24&key=AIzaSyBzajLp_cYnbw_nIqvR0YCjuwyHUyKzCYo"
            allowfullscreen></iframe>
  </div>
</div>
