<div class="callout">
  <div style="width: 80%;overflow: auto; height: 85%">
    <b class="custom-text">ДОРОГИЕ ПОКУПАТЕЛИ!</b>
    <p class="custom-text">
      Для того чтобы и Вам и нам сохранить доброе и веселое настроение в
      предпраздничной суете убедительная просьба ознакомиться с основными
      правилами нашей ДОСТАВКИ:
    </p>

    <b class="custom-text">Доставка свыше 20 штук по г.Орлу - БЕСПЛАТНО ДО ЗДАНИЯ</b>
    <p class="custom-text">Отдел доставки начинает работу с 1 декабря и заканчивает 30 декабря</p>
    <ul>
      <li class="custom-text">1)ГРАФИК РАЗВОЗА :</li>
      <table>
        <tbody>
        <tr>
          <td colspan="8">
            Развоз по Советскому и Железнодорожному р-нам осуществляется по понедельникам и средам
          </td>
        </tr>
        <tr>
          <td>05 декабря</td>
          <td>07 декабря</td>
          <td>12 декабря</td>
          <td>14 декабря</td>
          <td>19 декабря</td>
          <td>21 декабря</td>
          <td>26 декабря</td>
          <td>28 декабря</td>
        </tr>
        <tr>
          <td colspan="8">
            Развоз по Заводскому району и Знаменке (Орловской) по вторникам и четвергам
          </td>
        </tr>
        <tr>
          <td>06 декабря</td>
          <td>08 декабря</td>
          <td>13 декабря</td>
          <td>15 декабря</td>
          <td>20 декабря</td>
          <td>22 декабря</td>
          <td>27 декабря</td>
          <td>29 декабря</td>
        </tr>
        <tr>
          <td colspan="8">
            Развоз по Северному району и Выгонке по пятницам и субботам
          </td>
        </tr>
        <tr>
          <td>02 декабря</td>
          <td>09 декабря</td>
          <td>10 декабря</td>
          <td>16 декабря</td>
          <td>17 декабря</td>
          <td>23 декабря</td>
          <td>24 декабря</td>
          <td>30 декабря</td>
        </tr>
        </tbody>
      </table>

      <li class="custom-text">2) При оформлении заказа выбирается дата доставки (в соответствии с графиком по
        районам) и заполняется бланк доставки, где обязательно пишется адрес доставки , контактный телефон
        (лучше несколько) и ФИО ответственного лица.
        ПОЖАЛУЙСТА, ВНИМАТЕЛЬНО ПРОВЕРЯЙТЕ УКАЗАННУЮ ВАМИ ИНФОРМАЦИЮ.
      </li>
      <li class="custom-text">
        3) При заполнении бланка доставки пожалуйста указывайте КОРРЕКТНО контактный телефон ,наш экспедитор
        предупреждает о доставке за 30 мин.
        Если по указанным контактным телефонам дозвониться не удается , то УСЛУГА по ДОСТАВКЕ подарков ПОВТОРНО
        НЕ ОКАЗЫВАЕТСЯ, на следующий день, подарки Вам придется забирать со склада самим.
      </li>
      <li class="custom-text">
        4) ДОСТАВКА ПОДАРКОВ ДО КВАРТИРЫ или от ВОРОТ Д/С ДО ГРУППЫ ПЛАТНАЯ!
        До 100 подарков – 150 рублей,
        Свыше 100 подарков 300 рублей.
      </li>
      <li class="custom-text">
        5) Мы доставляем подарки БЕСПЛАТНО ДО ПОДЪЕЗДА или ДО ВОРОТ Д/С при отсутствии снежных заносов или при
        возможности проезда грузового транспорта до подъезда или до ворот Д/С. При снежных заносах на дорогах
        допускается остановка транспорта на очищенных дорогах на расстоянии до 500 м. до указанного дома, без
        заезда в не чищеные дворы.
        При этом выгрузка подарков из машины и доставка их до подъезда по заснеженным тропам ПЛАТНАЯ стоимость
        150 рублей ( до 100шт) 300 руб. свыше 100 шт.
      </li>
      <li class="custom-text">
        6) ОБЯЗАТЕЛЬНО ПЕРЕСЧИТЫВАЙТЕ КОЛИЧЕСТВО ПОДАРКОВ И ПРОВЕРЯЙТЕ ЗАКАЗ ПО АССОРТИМЕНТУ ПРИ ЭКСПЕДИТОРЕ!
        Ведь после того как вы расписались в развозном листе , нам будет намного сложнее принять ваши претензии
        по количеству и ассортименту.
      </li>
      <li class="custom-text">
        ПОЖАЛУЙСТА, В ПРЕДВЕРИИ ТАКОГО ДОБРОГО И СКАЗОЧНОГО ПРАЗДНИКА КАК НОВЫЙ ГОД, ДАВАЙТЕ БУДЕМ ВЕЖЛИВЫМИ И
        ТЕРПИМЫМИ ДРУГ К ДРУГУ.
        МЫ ОЧЕНЬ БЛАГОДАРНЫ ВАМ ,ЗА ТО ЧТО ВЫ ВЫБРАЛИ НАС в ПОМОШНИКИ ДЕДУ МОРОЗУ!
      </li>
    </ul>
  </div>
</div>
