.custom-text{
  font-size: 1.3rem;
  font-weight: 600;
}
table{
  width: 100%;
  padding: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}
tr{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
