<div class="video-component" [ngStyle]="{'height': height, 'width':width}">
  <video (click)="play()" class="player" controls src="{{url}}"  #player>
    <source src="{{url}}"/>
    Your browser does not support the video tag.
  </video>
  <div class="playlist">
    <md-list>
      <md-list-item class="item" *ngFor="let item of playlist" [class.selected]="item?.play" (click)="select(item)">
        <b md-line>
          {{item.name}}
        </b>

      </md-list-item>
    </md-list>
  </div>
</div>
