.video-component {
  display: flex;
}
.player{
  width: 85%    !important;
  height: auto   !important;
  object-fit: fill;
  margin-right: 1rem;
}
.playlist {
  height: 100%;
  width: 15%;
  overflow-y: auto;
  overflow-x: hidden;

}

.item {
  padding: 0.1rem;
  width: 100%;
  cursor: pointer;
}
.selected{
  background: rgba(58,58,58,0.20);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

