<div>
  <md-input-container *ngIf="auth.token==null"  >
    <input mdInput (keyup.enter)="login(username,password)" [(ngModel)]="username" placeholder="Email">
  </md-input-container>
  <md-input-container *ngIf="auth.token==null" >
    <input mdInput type="password" placeholder="Password" (keyup.enter)="login(username,password)" [(ngModel)]="password">
  </md-input-container>

  <button md-raised-button *ngIf="auth.token==null"  (click)="login(username,password)">Login</button>
  <button md-raised-button *ngIf="auth.token!=null" (click)="logout()">Logout</button>
</div>
