.pointer{
  cursor: pointer;
}
.bold{
  font-weight: bold;
}
.interactive:hover{
  opacity: 0.7;
}
.column{
  display: flex;
  flex-direction: column;
}
.unselected{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.frame{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  padding: 0.5rem;
}
