<div class="rool-manager">

    <md-card class="tool-panel">
      <div>
        <button md-button (click)="create()" style="height: 100%">Create role</button>
        <button md-button (click)="getRoles()" style="height: 100%">Find role</button>
        <md-input-container>
          <input mdInput type="text" (change)="getRoles()" [(ngModel)]="rolename" placeholder="Username">
        </md-input-container>
      </div>
      <md-input-container>
        <input mdInput type="number" (change)="getRoles()" [(ngModel)]="limit" placeholder="Limit">
      </md-input-container>
    </md-card>

  <md-list>
    <md-divider></md-divider>
    <md-list-item *ngFor="let item of rolelist">
      <md-icon md-list-icon>folder_shared</md-icon>
      <h4 md-line class="pointer interactive" (click)="edit(item,'name','Name')">{{item.name}}</h4>
      <span md-line>Id: {{item._id}}  </span>
      <span md-line class="pointer interactive" (click)="edit(item,'permissions','Permissions')"> Permissions: {{item.permissions}}</span>
      <button md-raised-button (click)="remove(item)">
        <md-icon>delete</md-icon>
      </button>
    </md-list-item>
  </md-list>
</div>
