.file-manager{
  height: 99.5%;
  width: 99.5%;
  overflow: auto;
  padding: 0.5%;
}
.selected{
  background: rgba(58,58,58,0.20);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.cut{
  opacity: 0.4;
}
.item{
  cursor: default;
}

.uploader{
}
