<div class="file-manager">
  <md-list>

    <md-divider></md-divider>
    <md-list-item>
      <span md-line style="overflow: auto">
         <span *ngFor="let part of path;let i=index" class="pointer bold interactive"
               (click)="toFolder(i)">{{part}}</span>
      </span>
      <button md-button *ngIf="buffer.length>0" (click)="buffer=[]">
        Buffer {{buffer.length}}
      </button>
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>

      <md-menu #menu="mdMenu">
        <button md-menu-item *ngIf="isSelectedHasVideo()" (click)="openVideo()">
          <md-icon>play_arrow</md-icon>
          <span>Play</span>
        </button>
        <button md-menu-item class="uploader" (click)="uploader.click()">
          <md-icon>get_app</md-icon>
          Upload
        </button>
        <button md-menu-item (click)="mkdir()">
          <md-icon>create_new_folder</md-icon>
          Create Folder
        </button>
        <button md-menu-item *ngIf="selected.length>0" (click)="cutSelected()">
          <md-icon>content_cut</md-icon>
          <span>Cut</span>
        </button>
        <button md-menu-item *ngIf="buffer.length>0" (click)="pasteBuffer()">
          <md-icon>input</md-icon>
          <span>Paste</span>
        </button>
        <button md-menu-item *ngIf="selected.length>0" (click)="removeSelected()">
          <md-icon>delete</md-icon>
          <span>Remove</span>
        </button>

      </md-menu>

    </md-list-item>
    <md-divider></md-divider>
    <md-list-item *ngFor="let item of list;let i=index" class="item unselected"
                  [class.selected]="isSelected(item)"
                  [class.cut]="isBuffer(item)"
                  (mouseover)="select(item,$event,i)"
                  (click)="select(item,$event,i)">
      <md-icon md-list-icon class="pointer" *ngIf="item.type=='directory'" (click)="click(item)">folder</md-icon>
      <md-icon md-list-icon class="pointer" *ngIf="item.type=='file'" (click)="click(item)">insert_drive_file</md-icon>
      <span md-line>
        <b class="pointer interactive" (click)="rename(item,'name','Name')">{{item.name}}</b>
      </span>
      <span md-line>Type: {{item.type}}</span>
      <span md-line *ngIf="item.size>0">Size: {{item.size}}</span>
      <span md-line>Date: {{item.mtime | date}}</span>
      <span md-line><span>Link:</span> {{path.join('')+item.name}}</span>

    </md-list-item>
    <md-divider></md-divider>
  </md-list>
  <input id="uploader" type="file" name="files" multiple
         style="display: none;" (change)="upload($event)" #uploader/>
</div>


