.catalog{
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
.selector{
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
}
.collection{
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.item{
  width: 14rem;
  height: 14rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1rem;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  padding: 0.5rem;
}
.item:hover{
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) inset;
}
.img{
  width: 12rem;
  height: 12rem;
}

.callout{
  margin: 0 0 0 0;
  padding: 1rem;
  background: transparent;
}
