<div class="catalog">
  <div class="selector callout frame">
    <div style="font-size: 1.5rem; width: 100%;text-align: center" >Поиск</div>
    <md-input-container>
      <input mdInput type="text" (change)="getCollection()" [(ngModel)]="name" placeholder="Название">
    </md-input-container>
    <md-input-container>
      <input mdInput type="number" (change)="getCollection()" [(ngModel)]="limit" placeholder="Кол-во на странице">
    </md-input-container>
  </div>
  <div class="collection callout">
    <div *ngFor="let item of collection" class="item">
      <div class="img" (click)="open(item)">
        <application-image [width]="'100%'" [height]="'100%'" [url]="item.image"></application-image>
      </div>
       <div style="font-size: large;font-weight: 700">
         {{item.name}}
         <button md-button *ngIf="auth.hasRole('su')" (click)="uploader.click()">
           <md-icon>get_app</md-icon>
         </button>
         <input id="uploader" type="file" name="files"
                style="display: none;" (change)="setImage(item,$event)" #uploader/>
       </div>
    </div>
  </div>
</div>
