.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gift {
  height: 30rem;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.gift-title {
  width: 100%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.img {
  width: 25rem;
  height: 25rem;
}

.description {
  width: 100%;
}

.goods {
  overflow: auto;
  width: 100%;
  height: 30rem;
}

.good {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem;
  cursor: default;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.good-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.3rem;
}

.good-img {
  width: 6rem;
  height: 6rem;
}

.row {
  display: flex;
  flex-direction: row;
}
