<div class="modal">
  <div class="gift">
    <div class="img">
      <application-image [width]="'100%'" [height]="'100%'" [url]="item.image"></application-image>
    </div>
    <div class="description">
      <div class="gift-title">
        <p>{{item.name}}</p>
      </div>

    </div>
  </div>
  <div class="goods">
    <div class="good" *ngFor="let item of goods">
      <div class="row">
        <div class="good-img">
          <application-image [width]="'100%'" [height]="'100%'" [url]="item.image"></application-image>
        </div>
        <div class="good-name">
          <b>{{item.name}}</b>
        </div>
      </div>

      <button md-button *ngIf="auth.hasRole('su')" (click)="uploader.click()">
        <md-icon>get_app</md-icon>
      </button>
      <input id="uploader" type="file" name="files"
             style="display: none;" (change)="setImage(item,$event)" #uploader/>
    </div>
  </div>
</div>
