.mongo-manager {

}

.column1 {
  width: 20rem;
}

.column2 {
  width: 25rem;
}

.column3 {
  width: 40rem;
}

.editor {
  display: flex;
  flex-wrap: wrap;
}

.three {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

md-list {
  overflow: auto;
  padding: 0.5rem;
}

md-tab-group {
  height: 100%;
}

.selected {
  background: rgba(58, 58, 58, 0.20);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
