<div class="mongo-manager">
  <div class="three">
    <div class="column1 frame" label="Collections">
      <md-list>
        <md-list-item *ngFor="let item of collections" style="cursor: default" [class.selected]="item.name==collection.name"
                      (click)="selectCollection(item)">
          <md-icon md-list-icon>storage</md-icon>
          <h4 md-line>{{item?.name}} </h4>
          <p md-line>Indexes: <span *ngFor="let index of item.index"> | {{index.Key}} | </span></p>
        </md-list-item>
      </md-list>
    </div>
    <div  class="column2 frame" label="Documents">
      <md-input-container>
        <input mdInput placeholder="field" [(ngModel)]="field">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="value" [(ngModel)]="value">
      </md-input-container>
      <md-input-container>
        <input mdInput placeholder="sort" [(ngModel)]="sort">
      </md-input-container>
      <md-input-container>
        <input mdInput type="number" placeholder="limit" [(ngModel)]="limit">
      </md-input-container>
      <button md-raised-button (click)="getDocuments()">
        Filter
      </button>
      <md-list>
        <md-list-item *ngFor="let item of documents" style="cursor: default" [class.selected]="item._id==document._id"
                      (click)="document=item;documentJson=stringify(item)">
          <md-icon md-list-icon>code</md-icon>
          <h4 md-line>{{item._id}}</h4>
        </md-list-item>
      </md-list>
    </div>
    <div  class="column3 frame" label="Document">
      <md-list >
        <md-input-container style="width: 100%;">
          <textarea mdInput placeholder="JSON" style="height: 25rem" [(ngModel)]="documentJson"></textarea>
        </md-input-container>
        <button md-raised-button (click)="save(documentJson)">
          Apply
        </button>
      </md-list>
    </div>
  </div>
</div>
